body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center;

}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.explaination {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    border: green 1px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    
    text-align: center;
    max-width: 500px;
}
button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    max-width: 500px;
    
}